*.iml
.classpath
.idea/artifacts
.idea/compiler.xml
.idea/dataSources.*
.idea/dataSources/*
.idea/dictionaries/*.xml
.idea/encodings.xml
.idea/modules.xml
.idea/sonarlint
.idea/uiDesigner.xml
.idea/vcs.xml
.project
.settings
dependency-reduced-pom.xml
libraries
misc.xml
target
workspace.xml
tags